# **สอน SQL เบื้องต้น: การใช้ SELECT DISTINCT เพื่อแสดงค่าที่ซ้ำกันเพียงครั้งเดียว**

In [ ]:
select distinct genre from movie_gross

In [ ]:
select movie_title, count(*) cnt from movie_gross 
group by movie_title 
having count(*) > 1 
order by cnt DESC

In [ ]:
select distinct mpaa_rating from movie_gross

In [ ]:
SELECT release_date, datepart(year,release_date) FROM movie_gross

In [ ]:
SELECT distinct datepart(year,release_date) FROM movie_gross

In [ ]:
SELECT distinct voice_actor from voice_actor

In [ ]:
SELECT distinct * from movie_gross

# **สอน SQL เบื้องต้น: การกรองแถวข้อมูลตามเงื่อนไขด้วย WHERE**

In [ ]:
select * from movie_gross where genre = 'adventure'
select * from movie_gross where genre != 'adventure'
select * from movie_gross where genre = 'adventure' or genre = 'comedy' or genre = 'drama'
select * from movie_gross where genre in('adventure','comedy','drama')
select * from movie_gross where genre not in('adventure','comedy','drama')
select * from movie_gross where inflation_adjusted_gross >= 500000000
select * from movie_gross where inflation_adjusted_gross >= 500e6
select * from movie_gross where inflation_adjusted_gross >= 300e6 and inflation_adjusted_gross <=500e6

In [ ]:
select * from movie_gross where inflation_adjusted_gross
between 300e6 and 500e6 order by inflation_adjusted_gross desc

In [ ]:
select * from movie_gross where release_date between '2013-01-01' and '2013-12-31'
select * from movie_gross where datepart(year,release_date) = '2013'

In [ ]:
select * from movie_gross where movie_title like '%toy%'
select * from movie_gross where movie_title like '%story'
select * from movie_gross where movie_title like 'toy%'

#วิธีเช็คค่า <span style="color: #0000ff;">NULL</span> ต้องใช้ <span style="color: #0000ff;">is</span> ห้ามใช้ <span style="color: #000000;">=</span>

In [ ]:
select * from movie_gross where genre is NULL
select * from movie_gross where genre is not NULL

# **สอน SQL เบื้องต้น: การตรวจสอบเงื่อนไขด้วย AND, OR และ NOT**

In [ ]:
select * from movie_gross
where (genre = 'adventure' or genre = 'musical')
and mpaa_rating = 'g' and total_gross >= 100e6
order by inflation_adjusted_gross desc

In [ ]:
select * from movie_gross
where genre in ('adventure','musical','comedy')
and mpaa_rating = 'g' and total_gross >= 100e6
order by inflation_adjusted_gross desc

In [ ]:
select * from movie_gross where inflation_adjusted_gross between 500e6 and 1000e6

# **สอน SQL เบื้องต้น: การคำนวณทางคณิตศาสตร์ บวก ลบ คูณ หาร ยกกำลัง หารากที่ 2 ฯลฯ**

In [ ]:
select top 5 movie_title, inflation_adjusted_gross [USD],
inflation_adjusted_gross * 36.7 [THB]
from movie_gross

In [ ]:
select
7+5[add],
7-5[subtract],
7*5[multiply],
7/5[devide_1], --int/int -> int
7.0/5[devide_2], --deciaml/int -> decimal
7/5.0[devide_3], --int/decimal -> decimal
7*1.0/5[devide_4] --(int*decimal)/int -> decimal

In [ ]:
select power(2, 3), --ยกกำลัง
power(2.0,1/2.0) -- หารากที่ 2 (2 ยกกำลัง 0.5) **อย่าลืมใส่ .0 หลังตัวหาร และตัวตั้งต้น

# **สอน SQL เบื้องต้น: เข้าใจค่า NULL และการใช้งาน**

In [ ]:
select top 10 [year] , --ผลคือ column ที่ 2 ไม่โชว์ตัวเลขเพราะคำนวนโดยการมี Null
studio_entertainment+
disney_consumer_products+
disney_interactive+
walt_disney_parks_and_resorts+
disney_media_networks [total revenue],total from revenue

In [ ]:
select top 10 [year] , --ใช้ isNULL เปลี่ยนข้อมูล NULL เป็น 0
isNULL(studio_entertainment,0)+
isNULL(disney_consumer_products,0)+
isNULL(disney_interactive,0)+
isNULL(walt_disney_parks_and_resorts,0)+
isNULL(disney_media_networks,0) [total revenue],total from revenue

In [ ]:
select count(*),count(disney_media_networks) from revenue --ได้จำนวนไม่เท่ากันเพราะมีค่า NULL

In [ ]:
select sum(disney_media_networks) from revenue --sum avg min max ไม่สนค่า NULL

# **สอน SQL เบื้องต้น: การใช้ LIKE ในการกรองข้อมูลตัวอักษร เช่น ชื่อหนังที่มีคำว่า toy**

In [ ]:
select * from movie_gross where movie_title like 'be%' --ขึ้นต้ยด้วยตัว BE
select * from movie_gross where movie_title like '[byw]%' order by movie_title --ขึ้นต้นด้วย B หรือ Y หรือ W
select * from movie_gross where movie_title like '[a-f]%' --ขึ้นต้นด้วย A ถึง F
select * from movie_gross where movie_title like '[0-9]%' --ขึ้นต้นด้วย 0 ถึง 9
select * from movie_gross where movie_title like '%[0-9]%' --มีตัวเลขอยู่ในชื่ิอเรื่อง
select * from movie_gross where movie_title like '%[0-9]' --ลงท้ายด้วยตัวเลข
select * from movie_gross where movie_title like '_n%' --เริ่มต้นด้วยตัวอะไรก็ได้ 1ตัว ตามด้วย N ลงท้ายด้วยอะไรก็ได้
select * from movie_gross where movie_title like '__n%' --เริ่มต้นด้วยตัวอะไรก็ได้ 2ตัว ตามด้วย N ลงท้ายด้วยอะไรก็ได้
select * from movie_gross where movie_title like '[^ABC]%' --ไม่เอาที่ขึ้นต้นด้วย A B C 
select * from movie_gross where movie_title like '[^ABC0-9]%' --ไม่เอาที่ขึ้นต้นด้วย A B C และตัวเลข
select * from movie_gross where movie_title like '[^ABC0-9S-Z]%' --ไม่เอาที่ขึ้นต้นด้วย A B C หรือ ตัวเลข และ S ถึง Z

In [ ]:
select * from movie_gross where movie_title like '[^ABC]%' order by movie_title

# **สอน SQL เบื้องต้น: การเรียงลำดับแถวในผลลัพธ์ด้วย ORDER BY**

In [ ]:
select * from movie_gross order by inflation_adjusted_gross --น้อยไปมากเป็นค่า default
select * from movie_gross order by inflation_adjusted_gross ASC --น้อยไปมาก
select * from movie_gross order by inflation_adjusted_gross DESC --มากไปน้อย
select top 10 * from movie_gross order by inflation_adjusted_gross DESC
select * from movie_gross order by genre,inflation_adjusted_gross desc

# **สอน SQL เบื้องต้น: การเรียงลำดับข้อมูลภาษาไทยตามพจนานุกรม (sort Thai alphabet)**

In [ ]:
select * from songs order by track_name collate thai_ci_ai --collate thai_ci_ai ทำให้เรียงตามพจนานุกรมเพราะปกติมันจะเอาสระมาก่อน

# **สอน SQL เบื้องต้น: การใช้ SELECT TOP ในการระบุจำนวนแถวที่ต้องการแสดง**

In [ ]:
select top 10 * from movie_gross order by inflation_adjusted_gross
select top 1 *,newid() from movie_gross order by newid() --สุ่มมา 1ตัวโดยใช้ newid
select top 10 percent *,newid() from movie_gross order by newid() --สุ่มมาเป็นจำนวน 10% ของข้อมูลทั้งหมด
select *,newid() from movie_gross where movie_title like 'a%' order by newid() --ใช้ร่วมกับ where

In [ ]:
drop table if exists train_data --ลบตาราง train_data จากข้อมูลใน disney (ถ้ามีอยู่แล้ว) 

select top 70 percent * --เลือก 70% ของข้อมูลแบบสุ่มจากตาราง movie_gross
into train_data --เพื่อสร้างตารางใหม่ ชื่อ train_data
from movie_gross order by NEWID() --เลือก 70% ของข้อมูลแบบสุ่มจากตาราง movie_gross

In [ ]:
select * from train_data --ลองดึงข้อมูลมาได้ 406แถว (70% ของ 549(406))

In [ ]:
select * from movie_gross except select * from train_data 
--ดึงข้อมูลที่ไม่ถูกดึงไปในตาราง train_data (30% ของ 549(173)) 406+173 = 549

In [ ]:
drop table if exists test_data; --สร้างตารางชื่อ cte จากข้อมูล 30% ที่เหลือ
with cte as (
    select * from movie_gross
    except select * from train_data
)
select * into test_data from cte

In [ ]:
select director, count(*) [number of movie] from director group by director order by [number of movie] desc
select top 1 director, count(*) [number of movie] from director group by director order by [number of movie] desc
--มันจะโชว์แค่คนเดียว (ซึ่งจริงๆแล้ว ลำดับ 1 มันมี 2คน กำกับจำนวนเรื่องเท่ากัน 7เรื่อง)
select top 1 with ties director, count(*) [number of movie] from director group by director order by [number of movie] desc
--แก้ด้วย with ties

# **สอน SQL เบื้องต้น: การเลือกแถวจากลำดับที่ที่ต้องการไปอีกกี่แถว (offset ... fetch)**

In [ ]:
select top 5 with ties * from movie_gross order by inflation_adjusted_gross desc

In [ ]:
select * from movie_gross order by inflation_adjusted_gross desc offset 0 row fetch next 5 row only

In [ ]:
select * from movie_gross order by inflation_adjusted_gross desc
 offset 2 row fetch next 1 row only
--ข้าม 2 แถวแรกเพื่อเอา 1 แถว เหมือนหาอันกับที่ 3 ของเงื่อนไขที่เรากำนดอีกที

# **สอน SQL เบื้องต้น: การเชื่อมข้อความเข้าด้วยกัน (concatenate) ด้วย CONCAT() และ + (plus operator)**

In [ ]:
select top 10 * from movie_gross

In [ ]:
select top 5 movie_title + genre from movie_gross

In [ ]:
select top 5 movie_title + ' ' + genre from movie_gross --เชื่อมแบบมีช่องว่าง

In [ ]:
select top 5 movie_title + ' (' + genre + ')' from movie_gross --เชื่อมแบบมีช่องว่าง และใส่วงเล็บ

In [ ]:
select top 5 movie_title+' '+release_date from movie_gross 
--error เนื่องจากประเภทข้อมูลไม่สามารถนำมาเชื่อมกันได้
--Msg 402, Level 16, State 1, Line 1 The data types varchar and date are incompatible in the add operator.

In [ ]:
select top 5 concat(movie_title, ' (', release_date, ')') from movie_gross
--แก้ไขโดยใช้ concat()

In [ ]:
select top 5 concat(movie_title, ' (', year(release_date), ')') from movie_gross
--เอาแต่ปี

In [ ]:
select top 5 
movie_title,total_gross,
concat(movie_title,' (',total_gross,')'),
concat(movie_title,' (',format(total_gross,'N0'),')'),
concat(movie_title,' (',format(total_gross,'#,##0 USD'),')')
from movie_gross

# **สอน SQL เบื้องต้น: การทำงานกับสตริง SUBSTRING(), CHARINDEX(), LEFT()**

In [ ]:
select top 5
movie_title,
upper(movie_title)[ตัวใหญ่],
lower(movie_title)[ตัวเล็ก],
len(movie_title)[ความยาวตัวอักษร],
substring(movie_title,1,10)[เอาตัวอักษรตัวที่ 1 เอา 10 ตัว],
substring(movie_title,2,3)[เอาตัวอักษรตัวที่ 2 เอา 3 ตัว]
from movie_gross

In [ ]:
select top 1 with ties movie_title, len(movie_title) [_length] from movie_gross order by _length DESC

In [ ]:
select top 5 * from director --อยากจะแยกชื่อ+นามสกุล ของ director

In [ ]:
select top 5 movie_title,director,
charindex(' ',director)[space],--หาตำแหน่งที่มี space(' ') ใน column director
substring(director,1,charindex(' ',director)-1)[first_name],--เอาตัวอักษรแรกถึงตัว spacebar แล้ว -1 เอา spacebar ออก
substring(director,charindex(' ',director)+1,100)[last_name],
left(director,charindex(' ',director)-1) --เหมือนบรรทัดที่ 3 แต่เขียนคนละแบบ
from director

In [ ]:
select top 5 movie_title,
substring(director,1,charindex(' ',director)-1)[first_name],
substring(director,charindex(' ',director)+1,100)[last_name],
upper(substring(director,charindex(' ',director)+1,100)+', '+substring(director,1,1)+'.')[**เอาไปใช้จริง]
from director

# **สอน SQL เบื้องต้น: การสร้าง data bars ด้วยฟังก์ชัน REPLICATE() และ NCHAR()**

In [ ]:
select replicate('+',10),replicate('|',20)

In [ ]:
select nchar(65),nchar(0x41),nchar(0x2588),nchar(0x2591)

In [ ]:
select replicate(nchar(0x2588),10),replicate(nchar(0x2591),10)

In [ ]:
select director, count(*) [No.movie],
replicate(nchar(0x2588)+' ',count(*)),
replicate(nchar(0x2591)+' ',count(*))
from director group by director order by count(*) desc

In [ ]:
select year(release_date) [YEAR],count(*) [no._movie_release],replicate(nchar(0x2589),count(*))
from movie_gross where year(release_date) > 2000
group by year(release_date) order by [no._movie_release] desc

# **สอน SQL เบื้องต้น: การแสดงผลแบบ stacked bar**

In [ ]:
select nchar(0x2591), nchar(0x2592), nchar(0x2593)

In [ ]:
select nchar(0x2591) as [░ like], nchar(0x2592) as [▒ neutral], nchar(0x2593) as [▓ dislike]

# **สอน SQL เบื้องต้น: การทำงานกับข้อมูลวันที่ด้วยฟังก์ชัน DATEPART, DATENAME และ FORMAT**

In [ ]:
select top 5 release_date,
year(release_date)[year],
month(release_date)[month],
day(release_date)[date]
from movie_gross

In [ ]:
select top 5 release_date,
DATEPART(year,release_date)[year],
DATEPART(month,release_date)[month],
DATEPART(day,release_date)[date],
DATEPART(week,release_date)[week],
DATEPART(weekday,release_date)[weekday],
DATENAME(weekday,release_date)[day_name], --นับแบบเริ่มวันอาทิตย์
DATENAME(month,release_date)[month_name]
from movie_gross

In [ ]:
select top 10 release_date,
format(release_date,'d','th')[d-th],
format(release_date,'dd','th')[dd-th],
format(release_date,'ddd','th')[ddd-th],
format(release_date,'dddd','th')[dddd-th],
format(release_date,'M','th')[M-th],
format(release_date,'MM','th')[MM-th],
format(release_date,'MMM','th')[MMM-th],
format(release_date,'MMMM','th')[MMMM-th]
from movie_gross

In [ ]:
select top 10 release_date,
format(release_date,'d','en')[d-en],
format(release_date,'dd','en')[dd-en],
format(release_date,'ddd','en')[ddd-en],
format(release_date,'dddd','en')[dddd-en],
format(release_date,'M','en')[M-en],
format(release_date,'MM','en')[MM-en],
format(release_date,'MMM','en')[MMM-en],
format(release_date,'MMMM','en')[MMMM-en]
from movie_gross

In [ ]:
select
format(release_date,'ddd','en')[date],
count(*)[no._movie]
from movie_gross group by format(release_date,'ddd','en') order by [no._movie] desc

# **สอน SQL เบื้องต้น: การใช้ฟังก์ชันด้านวันที่ GETDATE(), DATEDIFF(), DATEADD()**

In [ ]:
select getdate() --หาวันที่ปัจจุบัน

In [ ]:
select
datediff(month,'1989-12-28',getdate())[day_noformat], --ถามอายุ หาเป็น วัน เดือน ปี
format(datediff(day,'1989-12-28',getdate()),'N0')[day],
datediff(month,'1989-12-28',getdate())[month],
datediff(year,'1989-12-28',getdate())[year]

In [ ]:
select 
movie_title,
release_date,
format(DATEDIFF(day,release_date,getdate()),'N0')[movie_age(days)]
from movie_gross

In [ ]:
select
getdate(), --ปัจจุบัน
dateadd(day,5,getdate()), --บวกไปอีก 5วันจากปัจจุบัน
dateadd(day,-5,getdate()), --ลบไปอีก 5วันจากปัจจุบัน
format(dateadd(day,5,getdate()), 'dd-MM-yy','th'),
format(dateadd(day,5,getdate()), 'dd-MMM-yy','th'),
format(dateadd(day,5,getdate()), 'dd-MMMM-yy','th')

# **สอน SQL เบื้องต้น: การหาผลต่างของเวลาว่าเป็นกี่ชั่วโมงกับอีกกี่นาทีเพื่อคำนวณค่าบริการจอดรถ**

In [ ]:
select
cast('2019-9-14 10:35' as datetime)[in_time],
cast('2019-9-14 14:56' as datetime)[out_time],
datediff(minute,cast('2019-9-14 10:35' as datetime),cast('2019-9-14 14:56' as datetime))[parking_time(minute)],
datediff(minute,cast('2019-9-14 10:35' as datetime),cast('2019-9-14 14:56' as datetime)) /60 hh,
datediff(minute,cast('2019-9-14 10:35' as datetime),cast('2019-9-14 14:56' as datetime)) % 60 mm

In [ ]:
drop table if exists car_park;

create table car_park(
    plate_num nvarchar(8),
    in_time datetime,
    out_time datetime
);

In [ ]:
insert into car_park values
(N'กก 1234','2019-10-20 11:00','2019-10-20 13:00'),
(N'ขข 5678','2019-10-20 11:00','2019-10-20 14:25')

In [ ]:
--ค่าจอดรถ 40บาท/ชม. **เกิน 15 นาทีปัดเป็น 1ชั่วโมง
select *,
datediff(minute, in_time, out_time)/60 [hh],
datediff(minute, in_time, out_time)%60 [mm],
datediff(minute, in_time, out_time)/60 * 40 + iif(datediff(minute, in_time, out_time)%60 > 15, 40, 0) fee
from car_park

In [ ]:
--ค่าจอดรถ 40บาท/ชม. **เกิน 15 นาทีปัดเป็น 1ชั่วโมง
declare @rate int = 40
select
plate_num,
format(in_time, 'yy-MM-dd HH:MM')[in_time 24hr.],
format(out_time, 'yy-MM-dd HH:MM')[out_time 24hr.],
format(in_time, 'yy-MM-dd hh:mm:tt')[in_time AM/PM],
format(out_time, 'yy-MM-dd hh:mm:tt')[out_time AM/PM],
datediff(minute, in_time, out_time)/60 [hh],
datediff(minute, in_time, out_time)%60 [mm],
datediff(minute, in_time, out_time)/60 * @rate + iif(datediff(minute, in_time, out_time)%60 > 15, @rate, 0) fee
from car_park

# **สอน SQL เบื้องต้น: การจัดรูปแบบการแสดงผลตัวเลขด้วยฟังก์ชัน FORMAT()**

In [ ]:
select * from movie_gross

In [ ]:
select top 10 movie_title,
inflation_adjusted_gross,
format(inflation_adjusted_gross,'N')[N], --คั่น 3หลักแบบมีทศนิยม 2ตำแหน่ง
format(inflation_adjusted_gross,'N0')[N0], --คั่น 3หลักแบบไม่มีทศนิยม
format(inflation_adjusted_gross,'#,##0')[#,##0], --คั่น 3หลักแบบไม่มีทศนิยม
format(inflation_adjusted_gross,'#,##0,')[#,##0,], --หลักพัน
format(inflation_adjusted_gross,'#,##0,,')[#,##0,,], --หลักล้าน
format(inflation_adjusted_gross,'#,##0,,.0')[#,##0,,.0], --หลักล้านแบบมีทศนิยม 1หลัก
format(inflation_adjusted_gross,'#,##0,,.0m')[#,##0,,.0m] --หลักล้านแบบมีทศนิยม 1หลัก เติมตัวอักษร m เข้าไป
from movie_gross

In [ ]:
select top 10 movie_title,
inflation_adjusted_gross,
format(inflation_adjusted_gross*36.7,'#,##0,,.0(M$thb)')[#,##0,,.0(M$thb)]
from movie_gross

In [ ]:
select top 10 movie_title,
inflation_adjusted_gross,
format(inflation_adjusted_gross,'N')[N], --คั่น 3หลักแบบมีทศนิยม 2ตำแหน่ง
format(inflation_adjusted_gross,'N','eu')[N+eu] --ยุโรปใช้แบบนี้
from movie_gross

In [ ]:
select genre, format(sum(inflation_adjusted_gross),'N') [N] from movie_gross group by genre order by N desc

In [ ]:
with cte as (select genre, sum(inflation_adjusted_gross) gross from movie_gross group by genre)
select genre,gross,
gross * 1.0/(select sum(gross) from cte)[pct of total],
format(gross * 1.0/(select sum(gross) from cte), 'P')[P], --%ทศนิยม 2 ตำแหน่ง
format(gross * 1.0/(select sum(gross) from cte), 'P4')[P4] --%ทศนิยม 4 ตำแหน่ง
from cte order by gross desc

# **สอน SQL เบื้องต้น: การใช้ GROUP BY เพื่อสรุปข้อมูล เช่น COUNT, SUM, AVG, MIN, MAX**

In [ ]:
select movie_title,genre,inflation_adjusted_gross from movie_gross where genre = 'drama'

In [ ]:
select genre, SUM(inflation_adjusted_gross)[income_sum] from movie_gross group by genre order by income_sum DESC

In [ ]:
select
count(*),
sum(inflation_adjusted_gross)[SUM],
avg(inflation_adjusted_gross)[AVG],
min(inflation_adjusted_gross)[MIN],
max(inflation_adjusted_gross)[MAX]
from movie_gross

In [ ]:
select genre,datepart(year,release_date),count(*),
sum(inflation_adjusted_gross) [total_gross],
avg(inflation_adjusted_gross) [avg_gross]
from movie_gross group by genre,datepart(year,release_date) order by genre,datepart(year,release_date)

In [ ]:
select genre,count(*) [no._movie],
sum(inflation_adjusted_gross) [total_gross],
avg(inflation_adjusted_gross) [avg_gross]
from movie_gross
--where genre in ('adventure','drama') --ถ้าใช้โค๊ดนี้ผลลัพธ์จะออกมาแค่ genre = adventure,drama 
group by genre
having count(*) >100 --ใช้กรองข้อมูลที่ผ่านการ group มาแล้วต่างจาก where ที่กรองข้อมูลจากตาราง
order by total_gross desc

# **สอน SQL เบื้องต้น: การกรองผลลัพธ์ด้วย WHERE และ HAVING**

In [ ]:
select genre,count(*) from movie_gross group by genre having count(*)>100 order by count(*) desc

In [ ]:
select datepart(year,release_date),count(*)
from movie_gross
where datepart(year,release_date) > 2000
group by datepart(year,release_date)

In [ ]:
select datepart(year,release_date),count(*)
from movie_gross
where datepart(year,release_date) > 2000
group by datepart(year,release_date)
having count(*)>15
order by count(*) desc

# **สอน SQL เบื้องต้น: การใช้ GROUPING SETS ช่วยในการสรุปข้อมูลตามกลุ่มย่อยหลาย ๆ กลุ่มพร้อม ๆ กัน**

In [ ]:
select * from movie_gross where datepart(year,release_date)>2013

In [ ]:
select genre,sum(total_gross) from movie_gross where datepart(year,release_date)>2013 group by genre

In [ ]:
select datepart(year,release_date) year,genre,
sum(total_gross)
from movie_gross
where datepart(year,release_date)>2013 group by genre,datepart(year,release_date)

In [ ]:
select datepart(year,release_date) year, genre, sum(total_gross) gross
from movie_gross
where datepart(year,release_date)>2013
group by
    GROUPING SETS (
        (datepart(year,release_date), genre),
        (datepart(year,release_date)),
        (genre)
    )
having genre IS NULL
order by year, genre

# **สอน SQL เบื้องต้น: การสรุปรวมข้อมูลเป็นขั้น ๆ ด้วย ROLLUP เช่น สรุปยอดขายรายวัน รายเดือน รายปี**

In [ ]:
select datepart(year,release_date) year, sum(inflation_adjusted_gross) sum
from movie_gross group by datepart(year,release_date) order by year

In [ ]:
select datepart(year,release_date) [year],
datepart(quarter,release_date) [quarter],
sum(inflation_adjusted_gross) [total]
from movie_gross
group by rollup(datepart(year,release_date),datepart(quarter,release_date))
order by [year],[quarter]

In [ ]:
select datepart(year,release_date) [year],
datepart(quarter,release_date) [quarter],
sum(inflation_adjusted_gross) [total]
from movie_gross
group by rollup(datepart(year,release_date),datepart(quarter,release_date))
having datepart(quarter,release_date) is null
order by [year],[quarter]

# **สอน SQL เบื้องต้น: การใช้ CASE ... WHEN ... END ในการตรวจสอบเงื่อนไข**

In [ ]:
select distinct mpaa_rating from movie_gross

In [ ]:
select movie_title, mpaa_rating,
case mpaa_rating
when 'G' then 'general audieces'
when 'PG' then 'parental guidance'
when 'PG-13' then 'parental guidance-13'
when 'R' then 'restricted'
else mpaa_rating
end as [rating in full name] --มี as หรือ ไม่มีก็ได้
from movie_gross

In [ ]:
select movie_title,inflation_adjusted_gross,
case
when inflation_adjusted_gross between 0 and 1000000 then '0-1,000,000'
when inflation_adjusted_gross between 1000001 and 50000000 then '1,000,001-50,000,000'
when inflation_adjusted_gross between 50000001 and 100e6 then '50,000,001-100,000,000' -- 100e6 = 100000000 (แบบไหนก็ได้)
when inflation_adjusted_gross between 100000001 and 500e6 then '100,000,001-500,000,000'
when inflation_adjusted_gross between 500000001 and 1000e6 then '500,000,001-1,000,000,000'
when inflation_adjusted_gross > 1000000000 then '> 1,000,000,000'
end as gross
from movie_gross

In [91]:
with cte as (
select movie_title,inflation_adjusted_gross,
case
when inflation_adjusted_gross between 0 and 1000000 then '0-1,000,000'
when inflation_adjusted_gross between 1000001 and 50000000 then '1,000,001-50,000,000'
when inflation_adjusted_gross between 50000001 and 100e6 then '50,000,001-100,000,000' -- 100e6 = 100000000 (แบบไหนก็ได้)
when inflation_adjusted_gross between 100000001 and 500e6 then '100,000,001-500,000,000'
when inflation_adjusted_gross between 500000001 and 1000e6 then '500,000,001-1,000,000,000'
when inflation_adjusted_gross > 1000000000 then '> 1,000,000,000'
end as gross
from movie_gross
)
select gross, count(gross) [no._movie] from cte group by gross

gross,no._movie
"> 1,000,000,000",6
"0-1,000,000",20
"1,000,001-50,000,000",248
"100,000,001-500,000,000",164
"50,000,001-100,000,000",132
"500,000,001-1,000,000,000",9