# **สอน SQL เบื้องต้น: การเชื่อมตารางแบบ INNER, LEFT, RIGHT OUTER JOIN**

**test add data --\*\***

In [ ]:
select top 10 * from movie_gross

In [ ]:
select * from movie_gross inner join director on movie_gross.movie_title = director.movie_title

In [ ]:
select movie_gross.movie_title, movie_gross.inflation_adjusted_gross, director
from movie_gross inner join director on
movie_gross.movie_title = director.movie_title
--ข้อมูลออกมาแค่ 49 แถว เพราะ table director ไม่ได้ข้อมูลของหนังทุกเรื่องเหมือน table movie gross

In [ ]:
select m.movie_title, m.inflation_adjusted_gross, director
from movie_gross [m] inner join director [d] on
m.movie_title = d.movie_title --ตั้งชื่อเล่นให้ตาราง
--ข้อมูลออกมาแค่ 49 แถว เพราะ table director ไม่ได้ข้อมูลของหนังทุกเรื่องเหมือน table movie gross

In [ ]:
select m.movie_title, m.inflation_adjusted_gross, director
from movie_gross [m] left join director [d] on --เอาทุกแถวที่อยู่ในตาราง movie gross ตัวที่เชื่อมไม่ได้จะขึ้น NULL
m.movie_title = d.movie_title
--ข้อมูลออกมาแค่ 579 แถว เพราะ table director ไม่ได้ข้อมูลของหนังทุกเรื่องเหมือน table movie gross

In [ ]:
select m.movie_title, m.inflation_adjusted_gross, director
from movie_gross [m] right join director [d] on --เอาทุกแถวที่อยู่ในตาราง movie gross ตัวที่เชื่อมไม่ได้จะขึ้น NULL
m.movie_title = d.movie_title --ตั้งชื่อเล่นให้ตาราง
--ข้อมูลออกมาแค่ 60 แถว เพราะ หนังที่มีชื่อ director มีแค่ 60 แถว

In [ ]:
--เชื่อม 3 ตาราง movie gross, director, movie charactor
select m.movie_title, m.inflation_adjusted_gross, director, song
from movie_gross [m] left join director [d] on
m.movie_title = d.movie_title left join disney_char [c] on m.movie_title = c.movie_title

In [ ]:
with cte as(
select m.movie_title, m.inflation_adjusted_gross, director, song
from movie_gross [m] left join director [d] on
m.movie_title = d.movie_title left join disney_char [c] on m.movie_title = c.movie_title
)
select director, sum(inflation_adjusted_gross) [performance] from cte
group by director
having director is not null
order by performance DESC

# **สอน SQL เบื้องต้น: การเชื่อมแถวในตารางเดียวกัน (SELF JOIN)**

In [ ]:
--จะเปรียบเทียบรายได้ของ genre action & adventure
with ac as(
    select genre, datepart(year,release_date) [year], sum(inflation_adjusted_gross) [gross] from movie_gross
    where genre in ('action') and datepart(year,release_date) > 2010
    group by genre, datepart(year,release_date), genre),
ad as (
    select genre, datepart(year,release_date) [year], sum(inflation_adjusted_gross) [gross] from movie_gross
    where genre in ('adventure') and datepart(year,release_date) > 2010
    group by genre, datepart(year,release_date), genre)

In [ ]:
--จะเปรียบเทียบรายได้ของ genre action & adventure
with ac as(
    select genre, datepart(year,release_date) [year], sum(inflation_adjusted_gross) [gross] from movie_gross
    where genre in ('action') and datepart(year,release_date) > 2010
    group by genre, datepart(year,release_date), genre),
ad as (
    select genre, datepart(year,release_date) [year], sum(inflation_adjusted_gross) [gross] from movie_gross
    where genre in ('adventure') and datepart(year,release_date) > 2010
    group by genre, datepart(year,release_date), genre)

select ac.year, format(ac.gross,'N0')[action gross], format(ad.gross,'N0')[adventure gross] from ac inner join ad on ac.year = ad.year

In [ ]:
with cte as (
    select genre, datepart(year,release_date) [year], sum(inflation_adjusted_gross) [gross] from movie_gross
    where genre in ('action','adventure') and datepart(year,release_date) > 2010
    group by genre, datepart(year,release_date), genre)
select * from cte

In [ ]:
--จะเปรียบเทียบรายได้ของ genre action & adventure
with cte as (
    select genre, datepart(year,release_date) [year], sum(inflation_adjusted_gross) [gross] from movie_gross
    where genre in ('action','adventure') and datepart(year,release_date) > 2010
    group by genre, datepart(year,release_date), genre)

select ac.year, format(ac.gross,'N0') [action], format(ad.gross,'N0') [adventure], format(ac.gross-ad.gross,'N0') [diff]
from cte [ac] inner join cte [ad] on ac.year = ad.year and ac.genre = 'action' and ad.genre = 'adventure'

In [ ]:
--จะเปรียบเทียบรายได้ของ genre action & adventure & drama
with cte as (
    select genre, datepart(year,release_date) [year], sum(inflation_adjusted_gross) [gross] from movie_gross
    where genre in ('action','adventure','drama') and datepart(year,release_date) > 2010
    group by genre, datepart(year,release_date), genre)

select ac.year, format(ac.gross,'N0') [action], format(ad.gross,'N0') [adventure], format(dr.gross,'N0') [drama]
from cte [ac] inner join cte [ad] on ac.year = ad.year inner join cte [dr] on ad.year = dr.year
and ac.genre = 'action' and ad.genre = 'adventure' and dr.genre = 'drama'

# **สอน SQL เบื้องต้น: การเชื่อมแถวในตารางเข้าด้วยกันแบบ CROSS JOIN (Cartesian product)**

In [ ]:
drop table if exists team;

create table team (
    name varchar(50),
    rank int
)

In [ ]:
insert into team values ('alpha',1), ('beta',2), ('gamma',3), ('delta',4)

In [ ]:
select * from team

In [ ]:
select * from team t1 cross join team t2 --เขียนแบบนี้ก็ได้ select * from team t1, team t2

In [ ]:
select * from team [t1] cross join team [t2]
where t1.name != t2.name

In [ ]:
select concat(t2.name, ' (', t2.rank, ')') [team_1],
concat(t1.name, ' (', t1.rank, ')') [team_2]
from team [t1] cross join team [t2]
where t1.name != t2.name

In [ ]:
--PLAYING CARD
select value [rank] from string_split('A,2,3,4,5,6,7,8,9,10,J,Q,K',',')

In [ ]:
with r as (
    select value [rank] from string_split('A,2,3,4,5,6,7,8,9,10,J,Q,K',',')
),
s as(
    select value [suit] from string_split(N' ♥, ♦, ♣, ♠',',')
)

select concat(r.rank,s.suit) from r,s --หรือ select concat(r.rank,s.suit) from r cross join s

# **สอน SQL เบื้องต้น: การใช้ UNION, INTERSECT และ EXCEPT**

In [ ]:
select movie_title,hero,villian from disney_char

In [ ]:
drop table if exists ann_movie;

select top 15 movie_title, hero, villian
into ann_movie
from disney_char order by newid()

In [ ]:
select * from ann_movie

In [ ]:
drop table if exists ben_movie;

select top 15 movie_title, hero, villian
into ben_movie
from disney_char order by newid()

In [ ]:
select * from ben_movie

In [ ]:
select * from ann_movie union select * from ben_movie order by hero --เอาข้อมูลมาจากทั้ง 2ตารางมาต่อกันโดยที่ไม่เอาตัวที่ซื้อมา (union)

In [ ]:
select * from ann_movie intersect select * from ben_movie order by hero --ข้อมูลทั้ง 2 ตาตรางตรงกัน (intersect)

In [ ]:
select * from ann_movie except select * from ben_movie order by hero ---ข้อมูลหนังที่ ann ชอบ แต่ ben ไม่ได้ชอบ (except)

In [ ]:
drop table if exists phum_movie;

select top 20 movie_title, hero, villian
into phum_movie
from disney_char order by newid()

In [ ]:
select * from phum_movie

In [ ]:
select * from ann_movie intersect select * from ben_movie intersect select * from phum_movie order by hero 
--ข้อมูลทั้ง 3 ตาตรางตรงกัน (intersect)

In [ ]:
with cte as(
    select * from ann_movie intersect select * from ben_movie intersect select * from phum_movie
)
select * from cte

In [ ]:
drop table if exists fav_movie;
with cte as(
    select * from ann_movie intersect select * from ben_movie intersect select * from phum_movie
)
select * into fav_movie from cte

In [ ]:
select * from fav_movie

# **สอน SQL เบื้องต้น: การเขียนชุดคำสั่งสืบค้นย่อย (subquery)**

In [ ]:
select sum(total_gross) from movie_gross where datepart(year,release_date) = 2016

In [ ]:
select movie_title,
total_gross,
total_gross/2873393105
from movie_gross
where datepart(year,release_date) = 2016

In [ ]:
select movie_title,
(select format(sum(total_gross),'N0') from movie_gross where datepart(year,release_date) = 2016) [total all movie gross],
format(total_gross,'N0') [total gross],
total_gross/2873393105 [% manual],
total_gross*1.0/(select sum(total_gross) from movie_gross where datepart(year,release_date) = 2016) [% subquery] --subquery ปกติใช้ได้ใน select,from,where
from movie_gross
where datepart(year,release_date) = 2016

In [ ]:
--หาหนังที่ปี 2016 ที่ total gross > ค่าเฉลี่ย total gross ของหนังปี 2016
select movie_title,total_gross,
(select avg(total_gross) from movie_gross where datepart(year,release_date) = 2016) [avg total gross]
from movie_gross where datepart(year,release_date) = 2016 and
total_gross > (select avg(total_gross) from movie_gross where datepart(year,release_date) = 2016)

# **สอน SQL เบื้องต้น: การสร้าง view (ตารางเสมือน, virtual table) เพื่อเรียกใช้ข้อมูลในตารางให้ง่ายขึ้น**

In [ ]:
select * from movie_gross where mpaa_rating = 'G'

In [ ]:
create view vw_g as select * from movie_gross where mpaa_rating = 'G'

In [ ]:
select * from vw_g

In [ ]:
select * from vw_g where datepart(year,release_date) > 2000

In [ ]:
drop view vw_debut

In [ ]:
create view vw_debut as
select movie_title, release_date,
datename(weekday, release_date) [weekday]
from movie_gross
--สร้าง view เอาไว้ใช้ quarry ข้อมูล

In [ ]:
create or alter view vw_debut as --เป็นการสร้าง(หากมีอยู่แล้ว) หรือ แก้ไข view vw_debut
select movie_title, release_date,
datename(weekday, release_date) weekday,
datepart(month, release_date) month from movie_gross

In [ ]:
select * from vw_debut

In [ ]:
create or alter view test as
select m.movie_title, m.genre, d.director
from movie_gross m inner join director d --สร้าง view จาก หลายๆตาราง
on m.movie_title = d.movie_title

In [ ]:
select * from test where genre = 'musical'

# **สอน SQL เบื้องต้น: เขียนชุดคำสั่งสืบค้น (Query) ให้ง่ายขึ้นด้วยการใช้ Common Table Expression (CTE)**

In [ ]:
select datepart(year,release_date) [year],
sum(inflation_adjusted_gross) [gross]
from movie_gross
where datepart(year,release_date) > 2010
group by datepart(year,release_date)

In [ ]:
with cte as (
    select datepart(year,release_date) [year],
    sum(inflation_adjusted_gross) [gross]
    from movie_gross
    where datepart(year,release_date) > 2010
    group by datepart(year,release_date)
)
select year,gross,
gross*1.0/(select sum(gross) from cte)[pct],
format(gross*1.0/(select sum(gross) from cte),'P')[%]
from cte

# **สอน SQL เบื้องต้น: การแสดงแถวที่มีบางคอลัมน์ซ้ำกัน เช่น ชื่อภาพยนต์ที่ซ้ำกัน**

In [ ]:
select distinct movie_title from movie_gross

In [ ]:
select movie_title,count(*) [cnt]
from movie_gross group by movie_title having count(*) > 1 order by cnt desc

In [ ]:
select * from movie_gross where movie_title in
(select movie_title from movie_gross group by movie_title having count(*) > 1) order by movie_title,release_date

# **สอน SQL เบื้องต้น: การสร้างคอลัมน์แสดงลำดับที่ rank(), dense\_rank(), row\_number()**

In [ ]:
select * from movie_gross where datepart(year,release_date) > 2010

<span style="color: rgb(0, 128, 0); background-color: yellow;"><u>จะเขียนให้เรียงลำดับ&nbsp;inflation_adjusted_gross&nbsp;จากมากไปน้อย&nbsp;ของหลังที่ออกหลังปี&nbsp;2010&nbsp;โดยมี&nbsp;column&nbsp;ระบุ&nbsp;เลขอันดับ</u></span>

In [ ]:
select movie_title, inflation_adjusted_gross,
rank() over (order by inflation_adjusted_gross desc) [gross_rank]
from movie_gross where datepart(year,release_date) > 2010

<u><mark>จะเขียนให้เรียงลำดับ inflation\_adjusted\_gross จากมากไปน้อย ของหลังที่ออกหลังปี 2010 โดยมี column ระบุ เลขอันดับ</mark></u>

<u><mark>\*\*\*โดยจะเนียงเป็นปีๆไป 2011 2012 2013 2014 2015 2016</mark></u>

In [ ]:
select movie_title, inflation_adjusted_gross, datepart(year,release_date),
rank() over (partition by datepart(year,release_date) order by inflation_adjusted_gross desc) [gross_rank]
from movie_gross where datepart(year,release_date) > 2010

<u><mark>จะเขียนให้เรียงลำดับ inflation\_adjusted\_gross จากมากไปน้อย ของหลังที่ออกหลังปี 2010 โดยมี column ระบุ เลขอันดับ</mark></u>

<u><mark>\*\*\*โดยจะเนียงเป็นปีๆไป 2011 2012 2013 2014 2015 2016</mark></u>

<u><mark>\*\*\*และเอาแค่อันดับ 1-3 ของแต่ละปี\*\*\*</mark></u>

In [ ]:
with cte as (
    select movie_title, release_date, inflation_adjusted_gross,
    rank() over (partition by datepart(year,release_date) order by inflation_adjusted_gross desc) [gross_rank]
    from movie_gross
    where datepart(year,release_date) > 2010)

select * from cte WHERE gross_rank <= 3

In [ ]:
with cte as(
    select director, count(*) [no._movie] from director group by director
)

select *,
rank() over (order by [no._movie] desc) [rank], --มีอันดับ 1 2คน คนที่ 3 จะเป็น rank 3
dense_rank() over (order by [no._movie] desc) [dense_rank], --มีอันดับ 1 2คน คนที่ 3 จะเป็น rank 2
row_number() over (order by [no._movie] desc) [row_number] --หมายเลขแถว แบบตรงไปตรงมา
from cte

# **สอน SQL เบื้องต้น: การแบ่งแถวข้อมูลออกเป็นกลุ่ม ๆ เช่น quartile, decile**

In [ ]:
select movie_title, release_date, inflation_adjusted_gross,
ntile(4) over (order by inflation_adjusted_gross desc) [quartile]
from movie_gross 
where datepart(year,release_date) > 2010

In [ ]:
with cte as (
    select movie_title, release_date, inflation_adjusted_gross,
    ntile(4) over (order by inflation_adjusted_gross desc) [quartile]
    from movie_gross 
    where datepart(year,release_date) > 2010
)

select * from cte where quartile = 1

In [ ]:
with cte as(
    select movie_title,genre,inflation_adjusted_gross,
    ntile(4) over (partition by genre order by inflation_adjusted_gross desc) [quartile]
    from movie_gross 
    where datepart(year,release_date) > 2010
)
select * from cte

# **สอน SQL เบื้องต้น: การเลือกแถวอย่างสุ่ม (random rows)**

In [ ]:
select top 1 *, newid() from movie_gross order by newid() --test

In [ ]:
select top 70 percent * from movie_gross order by newid() --สุ่ม 70 % ได้ 406 แถว

In [ ]:
select top 70 percent * into train from movie_gross order by newid() --สุ่ม 70 % ได้ 406 แถว เอาไปสร้างตาราง train

In [ ]:
select * from movie_gross except select * from train --test

In [ ]:
with cte as (
    select * from movie_gross except select * from train
)

select * into testing from cte
--เอาที่เหลือมาสร้างเป็นอีกตารางชื่อ testing

# **สอน SQL เบื้องต้น: การ PIVOT ข้อมูล (แปลงข้อมูลแบบ long format เป็น wide format)**

In [ ]:
select * from movie_gross

In [ ]:
select datepart(year,release_date), genre, sum(total_gross) [gross ]from movie_gross
group by datepart(year,release_date),genre

In [ ]:
select genre, [2012], [2013], [2014] from (
    select datepart(year,release_date) [year_], genre, sum(total_gross) [gross] from movie_gross
    group by datepart(year,release_date),genre
)[d]

pivot (
    sum(gross) for year_ in ([2012], [2013], [2014])
) pvt

In [ ]:
select genre, [2012], [2013], [2014] from (
    select datepart(year,release_date) [year_], genre, sum(total_gross) [gross] from movie_gross
    where genre in ('action','adventure','musical')
    group by datepart(year,release_date),genre
)[d]

pivot (
    sum(gross) for year_ in ([2012], [2013], [2014])
) pvt

In [ ]:
select year_, [action], [adventure], [musical], [drama],
isnull([action],0)+isnull([adventure],0)+isnull([musical],0)+isnull([drama],0) [total]
from (
    select datepart(year,release_date) [year_], genre, sum(total_gross) [gross] from movie_gross
    where datepart(year,release_date) > 2010
    group by datepart(year,release_date),genre
)[d]

pivot (
    sum(gross) for genre in ([action], [adventure], [musical], [drama])
) pvt
order by total desc

# **สอน SQL เบื้องต้น: การ UNPIVOT (จาก wide format เป็น long format)**

In [ ]:
select * from revenue where year > 2010

In [ ]:
select year, cat, rev_m_usd
from revenue
unpivot(
    rev_m_usd for cat in (
        studio_entertainment, disney_consumer_products, disney_interactive,
        walt_disney_parks_and_resorts, disney_media_networks
    )
) u
where year > 2010

In [ ]:
drop view vw_revenue

In [ ]:
create view vw_revenue as (
    select year, cat, rev_m_usd
    from revenue
    unpivot(
        rev_m_usd for cat in (
            studio_entertainment, disney_consumer_products, disney_interactive,
            walt_disney_parks_and_resorts, disney_media_networks
        )
    ) u
    where year > 2010
)

In [ ]:
select year, sum(rev_m_usd) m_usd from vw_revenue group by year

In [ ]:
select cat, sum(rev_m_usd) m_usd from vw_revenue group by cat

# **สอน SQL เบื้องต้น: การเพิ่มข้อมูลเข้าไปในตารางด้วยคำสั่ง INSERT**

In [ ]:
select top 5 * from movie_gross

In [ ]:
select top 5 * 
into movie -- สร้างตารางใหม่
from movie_gross

In [ ]:
select * from movie

In [ ]:
drop table if exists movie;

In [ ]:
insert into movie values ('demo', '2015-08-25', 'drama', 'G', NULL, NULL) --แบบที่ 1

In [ ]:
insert into movie (movie_title, genre) --แบบที่ 2 เจาะจง column
values ('frozen 2', 'adventure'),('frozen 3', 'adventure'), ('frozen 4', 'adventure')

In [ ]:
insert into m2000 select * from m2001 --ถ้าโครงสร้างตารางเหมือนกันสามารถทำแบบนี้ได้เลย

# **สอน SQL เบื้องต้น: การนำผลการสืบค้นไปสร้างตารางใหม่ (select into) เพิ่มเข้าในตารางเดิม (insert into)**

In [ ]:
select * from movie_gross

In [ ]:
select movie_title, release_date, genre
into adventure_mov
from movie_gross where genre = 'adventure'

In [ ]:
drop table if exists adventure_mov;

select movie_title, release_date, genre
into adventure_mov
from movie_gross where genre = 'adventure' and datepart(year,release_date) > 2010;

select * from adventure_mov

<mark><span style="color: rgb(0, 0, 255);">insert</span> <span style="color: rgb(0, 0, 255);">into</span> .... select คือการเพิ่มข้อมูลลงตารางที่มีอยูแล้ว</mark>

<mark><span style="color: rgb(0, 0, 255);">select...into</span> คือการสร้างตารางหใม่</mark>

# **สอน SQL เบื้องต้น: การแก้ไขข้อมูลในตารางด้วยคำสั่ง UPDATE**

In [ ]:
drop table if exists testing_data;
select * into testing_data from movie_gross --ดึงข้อมูลมา test จะได้ไม่กระทบกับข้อมูลหลัก

In [ ]:
update testing_data
set movie_title = upper(movie_title), genre = upper(genre)

In [ ]:
select * from testing_data

In [ ]:
alter table testing_data add gross_th money null --เพิ่ม column gross_th

In [ ]:
select * from testing_data

In [ ]:
update testing_data
set gross_th = inflation_adjusted_gross * 36.6

In [ ]:
select * from testing_data

In [ ]:
alter table testing_data add mpaa_fullname varchar(255) null

In [ ]:
select * from testing_data

In [ ]:
update testing_data 
    set mpaa_fullname = 
    case mpaa_rating 
        when 'G' then 'general audiences'
        when 'PG' then 'parantal guidance'
        when 'PG-13' then 'parantal guidance - 13'
        when 'R' then 'restricted'
        else mpaa_rating
    end

In [ ]:
select movie_title, mpaa_rating, mpaa_fullname from testing_data

# **สอน SQL เบื้องต้น: การลบแถวข้อมูลด้วยคำสั่ง DELETE**

In [ ]:
drop table if exists phum_table;

select * into phum_table from movie_gross

In [ ]:
select top 10 * from phum_table

In [ ]:
select * from phum_table where movie_title = 'Pinocchio'

In [ ]:
delete from phum_table where movie_title = 'Pinocchio' --delete from phum_table(ลบทั้งตาราง)

In [ ]:
select top 10 * from phum_table --Pinocchio หายไปแล้ว

In [ ]:
drop table if exists director_table;

select * into director_table from director

In [ ]:
drop table if exists test_table;

select p.movie_title, p.genre, d.director into test_table
from phum_table [p] 
left join director_table [d] on p.movie_title = d.movie_title

delete from test_table where director is null;
select movie_title, genre, upper(director) from test_table;

# **สอน Azure Data Studio: การ import flat file เช่น CSV (comma-separated values)**

In [ ]:
https://www.youtube.com/watch?v=MXSTFZKqk3s&list=PLoTScYm9O0GEi5TcWdFY-X2XqXcEdvQiO&index=58

# **สอน Azure Data Studio: การนำผลลัพธ์จาก SQL มาสร้างกราฟ**

In [ ]:
https://www.youtube.com/watch?v=-ygtpwnx-UA&list=PLoTScYm9O0GEi5TcWdFY-X2XqXcEdvQiO&index=59

# **การใช้ Azure Data Studio ร่วมกับ github**

In [ ]:
https://www.youtube.com/watch?v=3FXNxF9uiiw&list=PLoTScYm9O0GEi5TcWdFY-X2XqXcEdvQiO&index=61